@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non velit eget dolor cursus varius non id arcu. Donec non justo ac ligula efficitur hendrerit. Vivamus vulputate non ipsum a iaculis. Nulla facilisi. Aliquam erat volutpat. Morbi gravida nec est non ultrices. Sed sed dolor eget felis tincidunt iaculis eu ac lectus. Nullam tristique non justo a consectetur. Nulla facilisi. Fusce volutpat vel tortor eu pharetra. Suspendisse potenti. Integer varius leo vel ex tristique, id accumsan justo efficitur.
    </p>
</div>
<div class="fullscreen-bg">
    <img src="https://c.files.bbci.co.uk/121BF/production/_104757147_gettyimages-962094932.jpg" alt="Background Image">
</div>
